/*Ainda estou criando a pagina de carrinho*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primeira: #dedede;
    --segunda: #ffffff;
    --terceira: #365fff;
    --quarta: rgb(0, 0, 0);
    --quinta: rgb(0, 0, 0, 0.62);
    --sexta: #333333
}

body {
    background-color: var(--primeira);
    color: var(--quarta);
}

.carrinho-navegador {
    position: fixed;
    top: 0;
    background: var(--segunda);
    width: 100%;
    z-index: 100;
}

.carrinho-navegador-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

.carrinho-navegador-ul-li {
    text-decoration: none;
    color: var(--quarta);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.carrinho-navegador-ul-li::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var( --terceira));
    transition: width 0.5s ease;
}

.carrinho-navegador-ul-li:hover::after {
    width: 100%;
}

.carrinho-navegador-ul-li-logo {
    width: 50px;
    height: 50px;
}

.fundo-button {
    border: 1px solid;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    display: flex;
    gap: 0rem;
    align-items: center;
    background: var(--quarta);
    padding: 0.10rem 0.50rem;
}

.button-cadastro {
    font-size: 15px;
    border-radius: 20px;
    color: var(--segunda);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 100%;
    height: 100%;

    padding: 0rem 0.30rem;
}

.button-login {
    font-size: 15px;
    border-radius: 20px;
    background: var(--terceira);
    color: var(--segunda);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0rem 0.30rem;
    text-align: center;
}

.section {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section-titulo {}

.section-subtitulo {}

.produto {
    
}

.produto-imagem {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.produto-titulo {}

.produto-descricao {}

.produto-quantidade {}

.produto-quantidade-numero {}

.produto-valor {}

.produto-botao-remover {}
